In [1]:
from hextofloader.dataframe_reader import readData

In [13]:
from hextofloader.data_sources.lab import lab

flash_obj = lab(2, 'LAB_TUTORIAL.yaml')
flash_obj.availableChannels

In [15]:
from hextofloader.data_sources.flash import flash

flash_obj = flash(2, 'LAB_TUTORIAL.yaml')
flash_obj.availableChannels

{'delayStage': {'format': 'slow',
  'group_name': '/Actuators/hextof/scanning/delaystage/Time'},
 'exposure': {'format': 'slow', 'group_name': '/SlowData/exposure_time'},
 'dldTime': {'format': 'electron', 'group_name': '/DLD/DLD/dldTime'},
 'times': {'format': 'electron', 'group_name': '/DLD/DLD/times'},
 'xPos': {'format': 'electron', 'group_name': '/DLD/DLD/xPos'},
 'yPos': {'format': 'electron', 'group_name': '/DLD/DLD/yPos'},
 'Ext_VURead': {'format': 'slow',
  'group_name': '/SlowData/hextof/logic/kmic1/Ext_VURead'},
 'Sample_VURead': {'format': 'slow',
  'group_name': '/SlowData/hextof/logic/kmic1/Sample_VURead'},
 'TOF_VURead': {'format': 'slow',
  'group_name': '/SlowData/hextof/logic/kmic1/TOF_VURead'}}

In [3]:
df = readData('LAB_TUTORIAL.yaml', [1, 2, 3])

Reading Files 1 to 3: 3 new files of 3 total.
WARNING: skipped channels missing in h5 file: ['/Actuators/hextof/scanning/delaystage/Time']WARNING: skipped channels missing in h5 file: ['/Actuators/hextof/scanning/delaystage/Time']WARNING: skipped channels missing in h5 file: ['/Actuators/hextof/scanning/delaystage/Time']


DLD/DLD/dldTime channel was usedDLD/DLD/times channel was usedDLD/DLD/dldTime channel was used


WARNING: skipped channels missing in h5 file: ['/DLD/DLD/times']WARNING: skipped channels missing in h5 file: ['/DLD/DLD/dldTime']WARNING: skipped channels missing in h5 file: ['/DLD/DLD/times']


Loading 3 dataframes. Failed reading 0 files.

In [36]:
df.sourceClass.dfs

AttributeError: 'readData' object has no attribute 'sourceClass'

In [5]:
df.dd.compute()

,index,Ext_VURead,Sample_VURead,TOF_VURead,exposure,times,xPos,yPos,dldTime
0,0,6029.51,-0.002301,17.999886,2.0,26876.0,627,626,NaN
1,3766,6029.50,0.001856,17.999290,2.0,26769.0,618,613,NaN
2,9195,6029.50,0.002450,17.999886,2.0,27095.0,668,657,NaN
3,12305,6029.53,0.003044,18.000481,2.0,27161.0,665,634,NaN
4,16826,6029.48,-0.003489,17.995722,2.0,27192.0,671,632,NaN
...,...,...,...,...,...,...,...,...,...
782070,782070,6029.52,0.000668,10.000983,2.0,NaN,697,699,32139.0
782071,782071,6029.52,0.000668,10.000983,2.0,NaN,707,643,31336.0
782072,782072,6029.52,0.000668,10.000983,2.0,NaN,701,650,31337.0
782073,782073,6029.52,0.000668,10.000983,2.0,NaN,701,687,32123.0
782074,782074,6029.52,0.000668,10.000983,2.0,NaN,685,689,32138.0