In [31]:
from hextofloader.dataframe_reader import readData

In [4]:
import hextofloader as hl
hl.__version__

'0.1.0'

In [32]:
df = readData('LAB_TUTORIAL.yaml', [1, 2, 3])

Reading Files 1 to 3: 0 new files of 3 total.
Loading 3 dataframes. Failed reading 0 files.

In [36]:
df.sourceClass.dfs

AttributeError: 'readData' object has no attribute 'sourceClass'

In [24]:
df

,index,Ext_VURead,Sample_VURead,TOF_VURead,exposure,dldTime,xPos,yPos
0,0,6029.48,-0.002895,17.992451,2.0,28008,711,657
1,79738,6029.47,0.003044,18.002563,2.0,43102,600,742
2,160967,6029.46,-0.006458,17.993641,2.0,18879,687,672
3,241307,6029.45,0.001262,18.000481,2.0,47471,609,715
4,322376,6029.46,0.003637,17.997805,2.0,29151,687,689
...,...,...,...,...,...,...,...,...
810849,810849,6029.48,-0.002895,17.998697,2.0,21528,671,634
810850,810850,6029.48,-0.002895,17.998697,2.0,45826,663,669
810851,810851,6029.48,-0.002895,17.998697,2.0,45821,677,661
810852,810852,6029.48,-0.002895,17.998697,2.0,45828,671,665
810853,810853,6029.48,-0.002895,17.998697,2.0,45827,668,668